aiofiles
pyrogram
cryptography
aiohttp==3.8.4
apscheduler==3.9.1  # Adjust to the latest compatible version
async-lru==2.0.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2023.5.7
charset-normalizer==3.1.0
cloudscraper
ffmpeg
helper
idna==3.4
jinja2
mediainfo
motor
mutagen==1.46.0
pyaes==1.6.1
pycryptodome==3.18.0
PySocks==1.7.1
pyromod==1.5
pytz
pyrofork
python-dotenv==1.0.0
requests==2.31.0
soupsieve==2.4.1
speedtest-cli
telegraph==2.2.0
tgcrypto
telethon
umongo==3.1.0
urllib3==2.0.3
websockets==11.0.3
yt-dlp==2023.6.22
pymongo[srv]
requests
